<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--声明服务提供者的端口-->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>

    <!--1.声明服务的名称-->
    <dubbo:application name="dongyimai_sellergoods_service"></dubbo:application>
    <!--2.配置注册中心的地址-->
    <dubbo:registry address="zookeeper://192.168.188.128:2181"></dubbo:registry>
    <!--3.配置发布服务所在的包-->
    <dubbo:annotation package="com.offcn.sellergoods.service"></dubbo:annotation>
</beans>