<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.offcn.page.service"/>
    <!--1.创建实际的连接工厂，由消息中间件的厂商提供-->
    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="targetConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.188.128:61616"/>
    </bean>
    <!--2.由Spring容器 管理的连接工厂-->
    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="singleConnectionFactory">
        <property name="targetConnectionFactory" ref="targetConnectionFactory"/>
    </bean>
    <!--3.创建消息中间件的模板对象-->
    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
    </bean>

    <bean class="org.apache.activemq.command.ActiveMQTopic" id="topicPageDestination">
        <constructor-arg value="dongyimai_page_topic"/>
    </bean>

    <!--5.声明消息队列的监听容器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="topicPageDestination"/>
        <property name="messageListener" ref="itemPageMessageLisneterImpl"/>
    </bean>


    <bean class="org.apache.activemq.command.ActiveMQTopic" id="topicPageDelDestination">
        <constructor-arg value="dongyimai_page_delete_topic"/>
    </bean>

    <!--5.声明消息队列的监听容器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="topicPageDelDestination"/>
        <property name="messageListener" ref="itemPageDeleteMessageLisneterImpl"/>
    </bean>




</beans>