<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--扫描controller-->
    <context:component-scan base-package="com.offcn"></context:component-scan>

    <!--扫描属性文件-->
    <context:property-placeholder location="classpath:application.properties"/>
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <!--声明请求/响应传输类型为JSON-->
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteDateUseDateFormat</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--配置多媒体解析-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <!--默认字符集编码-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--设置上传文件的大小  最大限制  5M  5*1024*1024-->
        <property name="maxUploadSize" value="5242880"/>
    </bean>

    <dubbo:application name="dongyimai_shop_web"></dubbo:application>
    <dubbo:registry address="zookeeper://192.168.188.128:2181"></dubbo:registry>
    <dubbo:annotation package="com.offcn"></dubbo:annotation>

</beans>